<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}Les Joies de SUPINFO</title>
    <meta name="description" content="Les situations de la vie quotidienne d'un(e) étudiant(e) de SUPINFO">
    <meta name="author" content="Quentin Stoeckel, Frédéric Strebler, Thomas Nold">
    {% stylesheets
        'bundles/ljds/css/bootstrap.min.css'
        'bundles/ljds/css/bootstrap-theme.min.css'
        'bundles/ljds/css/style.css'
        'bundles/ljds/css/materialdesignicons.min.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'>
	{% block customStyle %}{% endblock %}

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/ljds/icons/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/ljds/icons/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/ljds/icons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/ljds/icons/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/ljds/icons/apple-touch-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/ljds/icons/apple-touch-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/ljds/icons/apple-touch-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/ljds/icons/apple-touch-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/ljds/icons/apple-touch-icon-180x180.png')}}">
    <link rel="icon" type="image/png" href="{{ asset('bundles/ljds/icons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('bundles/ljds/icons/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ asset('bundles/ljds/icons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('bundles/ljds/icons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('bundles/ljds/icons/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('bundles/ljds/icons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ asset('bundles/ljds/icons/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="Les Joies de SUPINFO">
    <meta name="application-name" content="Les Joies de SUPINFO">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/ljds/icons/mstile-144x144.png') }}">
    <meta name="msapplication-config" content="{{ asset('bundles/ljds/icons/browserconfig.xml') }}">
    <meta name="theme-color" content="#1889E6">

    <link rel="alternate" type="application/rss+xml" title="Flux RSS - Gifs" href="{{ path('feed') }}" />
    {% block metas %}{% endblock %}
    {% block customScripts_head %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="content">
        <div class="header">
            <div>
                <ul class="menu">
                    <li><a href="{{ path('top') }}"><i class="mdi mdi-crown"></i>Top gifs</a></li>
                    <li><a href="{{ path('topSubmitters') }}"><i class="mdi mdi-account-multiple"></i>Top contributeurs</a></li>
                    <li><a href="{{ path('randomGif') }}"><i class="mdi mdi-shuffle"></i> Au hasard</a></li>
                    <li><a href="{{ path('submit') }}" class="submit"><i class="mdi mdi-plus"></i>Proposer un gif</a></li>
                </ul>

                <a href="{{ path('index') }}" class="h1Link"><h1>Les Joies de SUPINFO</h1></a>

                {{ publicationCountdown() }}

                <div class="subTitle">
                    <h2>Les situations de la vie quotidienne d'un(e) étudiant(e) de SUPINFO</h2>
                </div>

                <div class="clear"></div>
            </div>
        </div>
        <div class="subHeader">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5 facebookPageLike">
                    <div class="fb-page" data-href="https://www.facebook.com/joiesDeSupinfo" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/joiesDeSupinfo"><a href="https://www.facebook.com/joiesDeSupinfo">Les Joies de Supinfo</a></blockquote></div></div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        {% include 'LjdsBundle:Default:facebookSdk.html.twig' %}

        <div class="clear"></div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-4 col-sm-offset-1 col-sm-4 col-xs-12">
                <h2>Gifs</h2>
                <ul>
                    <li><a href="{{ path('top') }}">Top gifs</a></li>
                    <li><a href="{{ path('topSubmitters') }}">Top contributeurs</a></li>
                    <li><a href="{{ path('randomGif') }}">Au hasard</a></li>
                    <li><a href="{{ path('submit') }}">Proposer un gif</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h2>Projet</h2>
                <ul>
                    <li><a href="https://github.com/chteuchteu/Les-Joies-de-Supinfo" target="_blank">Contribuer</a></li>
                    <li><a href="https://github.com/chteuchteu/Les-Joies-de-Supinfo#api" target="_blank">API</a></li>
                    <li><a href="{{ path('rulesOfTheGame') }}">Conditions d'utilisation</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <h2>Réseaux sociaux</h2>
                <ul>
                    <li><a href="https://www.facebook.com/joiesDeSupinfo/">Facebook</a></li>
                    <li><a href="https://twitter.com/joiesdesupinfo">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% javascripts
    '@LjdsBundle/Resources/public/js/jquery-1.11.2.min.js'
    '@LjdsBundle/Resources/public/js/bootstrap.min.js'
    '@LjdsBundle/Resources/public/js/script.js'
    '@LjdsBundle/Resources/public/js/jquery.plugin.min.js'
    '@LjdsBundle/Resources/public/js/jquery.countdown.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block customScripts %}{% endblock %}
{% include 'LjdsBundle:Default:analytics.html.twig' %}
</body>
</html>
