<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}Les Joies de SUPINFO</title>
    <meta name="description" content="{% block meta_description %}Les situations de la vie quotidienne d'un(e) étudiant(e) de SUPINFO{% endblock %}">
    <meta name="author" content="{% if gif is defined %}{{ gif.submittedBy }}{% else %}Quentin Stoeckel, Frédéric Strebler, Thomas Nold{% endif %}">
    {% stylesheets
        'bundles/ljds/css/bootstrap.min.css'
        'bundles/ljds/css/bootstrap-theme.min.css'
        'bundles/ljds/css/jquery.dropdown.min.css'
        'bundles/ljds/css/materialdesignicons.min.css'
        'bundles/ljds/css/style.css'
        'bundles/ljds/css/magnific-popup.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ asset('bundles/ljds/js/jquery-1.11.2.min.js') }}"></script>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/ljds/icons/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/ljds/icons/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/ljds/icons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/ljds/icons/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/ljds/icons/apple-touch-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/ljds/icons/apple-touch-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/ljds/icons/apple-touch-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/ljds/icons/apple-touch-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/ljds/icons/apple-touch-icon-180x180.png')}}">
    <link rel="icon" type="image/png" href="{{ asset('bundles/ljds/icons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('bundles/ljds/icons/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ asset('bundles/ljds/icons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('bundles/ljds/icons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('bundles/ljds/icons/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('bundles/ljds/icons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ asset('bundles/ljds/icons/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="Les Joies de SUPINFO">
    <meta name="application-name" content="Les Joies de SUPINFO">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/ljds/icons/mstile-144x144.png') }}">
    <meta name="msapplication-config" content="{{ asset('bundles/ljds/icons/browserconfig.xml') }}">
    <meta name="theme-color" content="#1889E6">

    <link rel="alternate" type="application/rss+xml" title="Flux RSS - Gifs" href="{{ path('feed') }}" />
    {% block metas %}{% endblock %}
    {% block javascripts_head %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="content">
        <div class="header">
            <div>
                <a href="{{ path('index') }}" class="h1Link"><h1>Les Joies de SUPINFO</h1></a>

                <ul class="menu">
                    <li><a href="{{ path('top') }}"><i class="mdi mdi-crown"></i>Top gifs</a></li>
                    <li><a href="{{ path('topSubmitters') }}"><i class="mdi mdi-account-multiple"></i>Top contributeurs</a></li>
                    <li><a href="{{ path('randomGif') }}"><i class="mdi mdi-shuffle"></i> Au hasard</a></li>
                    <li><a href="{{ path('submit') }}" class="submit"><i class="mdi mdi-plus"></i>Proposer un gif</a></li>
                </ul>

                <div class="clearfix"></div>

                {{ publicationCountdown() }}

                <div class="subTitle">
                    <h2>Les situations de la vie quotidienne d'un(e) étudiant(e) de SUPINFO</h2>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container-fluid content-wrap">
            {% block content %}{% endblock %}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
                <h2>Gifs</h2>
                <ul>
                    <li><a href="{{ path('top') }}">Top gifs</a></li>
                    <li><a href="{{ path('topSubmitters') }}">Top contributeurs</a></li>
                    <li><a href="{{ path('randomGif') }}">Au hasard</a></li>
                    <li><a href="{{ path('submit') }}">Proposer un gif</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <h2>Projet</h2>
                <ul>
                    <li><a href="https://github.com/chteuchteu/Les-Joies-de-Supinfo" target="_blank">Contribuer</a></li>
                    <li><a href="https://github.com/chteuchteu/Les-Joies-de-Supinfo#api" target="_blank">API</a></li>
                    <li><a href="{{ path('rulesOfTheGame') }}">Conditions d'utilisation</a></li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-3 col-xs-12">
                <h2>Réseaux sociaux</h2>
                <ul>
                    <li><a href="https://www.facebook.com/joiesDeSupinfo/">Facebook</a></li>
                    <li><a href="https://twitter.com/joiesdesupinfo">Twitter</a></li>
                </ul>
                <div class="facebook-widget">
                    <div class="fb-page"
                         data-href="https://www.facebook.com/joiesDeSupinfo"
                         data-small-header="true"
                         data-adapt-container-width="true"
                         data-hide-cover="true"
                         data-show-facepile="false"
                         data-show-posts="false">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/joiesDeSupinfo">
                                <a href="https://www.facebook.com/joiesDeSupinfo">Les Joies de SUPINFO</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 copyright">
                <p>&copy; {{ 'now'|date('Y') }} Frédéric Strebler, Thomas Nold,
                    <a href="http://www.s-quent.in" target="_blank">Quentin Stoeckel</a>
                    & <a href="https://github.com/chteuchteu/Les-Joies-de-Supinfo/graphs/contributors" target="_blank">autres contributeurs</a></p>
            </div>
        </div>
    </div>
</div>

<div id="dropdowns"></div>

<!-- Likes diff info -->
<div id="likesDiffInfo" class="jq-dropdown jq-dropdown-tip">
    <div class="jq-dropdown-panel">
        <p class="title">A propos de la différence des compteurs de likes</p>
        <p>Nous avons changé de nom de domaine fin 2015, passant de <i>joies-de-supinfo.s-quent.in</i> à <i>joies-de-supinfo.fr</i>.</p>
        <p>Ce changement nous oblige à comptabiliser les likes Facebook sur les anciennes URLs en plus des nouvelles. Les compteurs
        du widget Facebook affichent le nombre de likes sur les nouvelles URLs uniquement, d'où la différence.</p>
    </div>
</div>
<div id="embed-modal" class="white-popup-block mfp-hide embed-modal">
    <h2>Intégrer</h2>
    <p>Intégrez ce gif sur votre site web en y insérant le code suivant. Vous pouvez personnaliser les propriétés CSS
        <code>width</code> et <code>height</code> selon le contexte et la place que vous voulez y attribuer, ou même utiliser l'URL
        <code>{{ url('randomGif', {route:'widget'}) }}</code> pour afficher un gif aléatoire à chaque chargement de page.</p>

    <textarea id="embed-modal-code" placeholder="Code" readonly></textarea>

    <h3>Prévisualisation</h3>
    <div id="embed-modal-preview"></div>
</div>

{% javascripts
    '@LjdsBundle/Resources/public/js/bootstrap.min.js'
    '@LjdsBundle/Resources/public/js/script.js'
    '@LjdsBundle/Resources/public/js/jquery.plugin.min.js'
    '@LjdsBundle/Resources/public/js/jquery.countdown.min.js'
    '@LjdsBundle/Resources/public/js/jquery.cookiebar.js'
    '@LjdsBundle/Resources/public/js/jquery.dropdown.min.js'
    '@LjdsBundle/Resources/public/js/jquery.magnific-popup.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function() {
        $.cookieBar({
            message: 'Nous utilisons des cookies pour améliorer votre expérience utilisateur.',
            acceptText: 'J\'accepte',
            policyButton: true,
            policyText: 'En savoir plus',
            policyURL: '{{ path('cookies') }}',
            fixed: true,
            bottom: true
        });

        {# You haven't seen anything #}
        {% if trump is defined and trump %}
            $('.gifLink').find('img, video').replaceWith('<img src="https://media.giphy.com/media/26tPj9PmmKCB8Zopq/giphy.gif" />');
        {% endif %}
    });
</script>
{% block javascripts %}{% endblock %}
{% include 'LjdsBundle:Snippets:analytics.html.twig' %}
{% include 'LjdsBundle:Snippets:facebookSdk.html.twig' %}
</body>
</html>
