<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Les Joies de SUPINFO</title>
    <meta name="description" content="">
    <meta name="author" content="Quentin Stoeckel, Frédéric Strebler, Thomas Nold">
    <link href="{{ asset('bundles/ljds/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/ljds/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/ljds/css/style.css') }}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'>
	{% block customStyle %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('bundles/ljds/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('bundles/ljds/favicon.ico') }}" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="Flux RSS - Gifs" href="/feed/" />
    {% block metas %}{% endblock %}
    {% block customScripts_head %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="header {% if homePage is defined and homePage %}homeHeader{% endif %}">
        <ul class="menu">
            <li><a href="{{ path('top') }}">Top gifs</a></li>
            <li><a href="{{ path('topSubmitters') }}">Top contributeurs</a></li>
            <li><a href="{{ path('randomGif') }}">Au hasard</a></li>
            <li><a href="{{ path('submit') }}">Proposer un gif</a></li>
        </ul>
        <a href="{{ path('index') }}" class="h1Link"><h1>Les Joies de SUPINFO</h1></a>
        {% if homePage is defined and homePage %}
			{{ publicationCountdown() }}
            <div class="subHeader">
                <h2>Les situations de la vie quotidienne d'un(e) étudiant(e) de SUPINFO</h2>
            </div>
        {% endif %}
        <div class="clear"></div>
    </div>
    <div class="subHeader">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5 facebookPageLike">
                <div class="fb-page" data-href="https://www.facebook.com/joiesDeSupinfo" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/joiesDeSupinfo"><a href="https://www.facebook.com/joiesDeSupinfo">Les Joies de Supinfo</a></blockquote></div></div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
<div class="footer">
    <a href="https://github.com/chteuchteu/Les-Joies-de-Supinfo" target="_blank">Contribuer</a> &bull; <a href="{{ path('rulesOfTheGame') }}">Conditions d'utilisation</a>
</div>
<script src="{{ asset('bundles/ljds/js/jquery-1.11.2.min.js') }}"></script>
<script src="{{ asset('bundles/ljds/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/ljds/js/script.js') }}"></script>
<script src="{{ asset('bundles/ljds/js/jquery.plugin.min.js') }}"></script>
<script src="{{ asset('bundles/ljds/js/jquery.countdown.min.js') }}"></script>
{% block customScripts %}{% endblock %}
{% include 'LjdsBundle:Default:analytics.html.twig' %}
</body>
</html>
