<div class="gifItem">
	<div class="row">
		<div class="col-md-2 likesCount-wrap">
			{% set likesDiffInfo = gif.publishDate.format('Y') == 2015 %}
			<a href="#" class="likesCount {% if likesDiffInfo %}likesDiffInfo{% endif %}" {% if likesDiffInfo %}data-jq-dropdown="#likesDiffInfo"{% endif %}>
				<span class="count">{{ gif.likes != null ? gif.likes : 0 }}</span>
				<span class="likes">like{% if gif.likes != 1 %}s{% endif %}</span>
			</a>
		</div>
		<div class="col-md-10">
			<a href="#" data-jq-dropdown="#actions_{{ gif.id }}" class="overflow-actions button button-medium no-elevation"><i class="mdi mdi-dots-vertical"></i></a>

			<a href="{{ path('gif', {'permalink': gif.permalink}) }}" class="caption">{{ gif.caption }}</a>
			<div class="metas">
				<a href="{{ path('submitter', { 'submitter': gif.submittedBy }) }}">{{ gif.submittedBy }}</a>
				{% if gif.label is not null and gif.label != 'étudiant' %}
					<span class="gif-label">{{ gif.label }}</span>
				{% endif %}
				<span class="separator">&bull;</span>
				{% if gif.publishDate is not null %}{{ gif.publishDate|relativeDate }}{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 socialButtons">
			<div class="fb-like" data-href="{{ url('gif', {'permalink': gif.permalink}) }}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
			<a class="twitter-share-button"
			   href="https://twitter.com/share"
			   data-url="{{ path('gif', {'permalink': gif.permalink}) }}"
			   data-text="{{ gif.generateTweet(url('gif', {'permalink': gif.permalink})) }}"></a>
		</div>
		<div class="col-md-10">
			<a href="{{ path('gif', {'permalink': gif.permalink}) }}">
				{% include 'LjdsBundle:Snippets:gif.html.twig' with {class: null} %}
			</a>
		</div>
	</div>
</div>

<div id="actions_{{ gif.id }}" class="jq-dropdown jq-dropdown-tip gif-overflow-actions">
	<ul class="jq-dropdown-menu">
		{% if gif.source != '' %}
			<li><a href="{{ gif.source }}" target="_blank"><i class="mdi mdi-export"></i> Source</a></li>
		{% endif %}
		<li><a href="#" class="report" data-id="{{ gif.id }}"><i class="mdi mdi-exclamation"></i> Signaler</a></li>
		<li><a href="#embed-modal" class="embed" data-target="{{ url('gif', {route:'widget', permalink:gif.permalink}) }}"><i class="mdi mdi-code-tags"></i> Intégrer</a></li>
	</ul>
</div>
