{% extends 'LjdsBundle:Default:parent.html.twig' %}

{% block content %}
    <div class="content submitGif">
        <h2>Proposer un gif</h2>

        {% if submitted %}
            {% if submitError is defined and submitError %}
                <div class="alert alert-danger">Erreur lors de l'envoi du gif : {{ submitError }}</div>
            {% else %}
                <div class="alert alert-success">Votre gif a bien été envoyé ! Il passe maintenant en modération en attente d'être publié. Merci !</div>
            {% endif %}
        {% endif %}

        <p>Avant de proposer un gif, veuillez vous assurer que celui-ci est conforme <a href="{{ path('rulesOfTheGame') }}">aux règles
                d'utilisation du service</a>.</p>
        <br />

        <form method="post" enctype="multipart/form-data">
            <input type="text" name="submittedBy" placeholder="Proposé par (votre nom)" value="{{ submittedBy }}" class="submittedBy" />
            <input type="hidden" id="source" name="source" class="source" />

            <input type="text" id="catchPhraseInput" name="catchPhrase" placeholder="Titre" />
            <ul id="warnings"></ul>

            <img id="ajaxLoading" src="{{ asset('bundles/ljds/img/ajax-loader.gif') }}" style="visibility: hidden;" />
            <div id="giphyGifs" style="display: none;">
                <img src="{{ asset('bundles/ljds/img/poweredByGiphy.png') }}" class="poweredByGiphy" />
                <ul id="giphyGifsList"></ul>
            </div>

            <input type="hidden" id="giphy_url" name="giphy_url" />

            <input type="submit" value="Proposer" />
        </form>

        <script type="application/javascript">
            $(document).ready(function() {
                var giphyGifsList = $('#giphyGifsList');

                $('#catchPhraseInput').keyup(function() {
                    var text = $(this).val();

                    var warningsList = [];
                    // Rules
                    if (text.substring(0, 'Quand'.length) != 'Quand')
                        warningsList[warningsList.length] = 'Le titre doit commencer par "Quand"';

                    // No point
                    if (text.substring(text.length-1) == '.')
                        warningsList[warningsList.length] = 'Le titre ne doit pas terminer par un point';

                    if (text.length > 120)
                        warningsList[warningsList.length] = 'Le titre ne doit pas être trop long';
                    else if (text.length < 10)
                        warningsList[warningsList.length] = 'Le titre est trop court';

                    var warnings = $('#warnings');
                    warnings.html('');
                    for (var i=0; i<warningsList.length; i++)
                        warnings.append('<li>' + warningsList[i] + '</li>');
                });

                $('#ajaxLoading').css('visibility', 'visible');

                $.ajax({
                    url: '{{ path('giphyProxy') }}',
                    method: 'POST',
                    data: {
                        action: 'getTrendingGifs'
                    },
                    success: function(jsonData) {
                        if (jsonData.success) {
                            $('#giphyGifs').show();
                            $('#ajaxLoading').hide();

                            for (var i=0; i<jsonData.gifs.length; i++) {
                                var imageUrl = jsonData.gifs[i]['image'];
                                var sourceUrl = jsonData.gifs[i]['url'];
                                giphyGifsList.append('<li><img src="' + imageUrl + '" data-source="' + sourceUrl + '" /></li>');
                            }
                        }
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });

                // Select one gif
                giphyGifsList.on('click', 'img', function(e) {
                    var img = $(this);
                    $('#source').val(img.attr('data-source'));
                    $('#giphy_url').val(img.attr('src'));
                    giphyGifsList.find('img').removeClass('selected');
                    giphyGifsList.find('img').addClass('notSelected');
                    $(this).addClass('selected');

                    // Avoid onclick on giphyGifsList (that's for unselecting gif)
                    e.stopPropagation();
                });

                // Unselect all gifs
                giphyGifsList.click(function() {
                    $('#source').val('');
                    $('#giphy_url').val('');
                    giphyGifsList.find('img').removeClass('selected');
                    giphyGifsList.find('img').removeClass('notSelected');
                });
            });
        </script>
    </div>
{% endblock %}
