{% extends 'LjdsBundle:Default:parent.html.twig' %}

{% block title %}Proposer un gif - {% endblock %}
{% block content %}
	<div class="col-md-1"></div>
	<div class="col-md-10 submitGif">
		<h2>Proposer un gif</h2>

		{% if submitted %}
			{% if submitError is defined and submitError %}
				<div class="alert alert-danger">Erreur lors de l'envoi du gif : {{ submitError }}</div>
			{% else %}
				<div class="alert alert-success">Votre gif a bien été envoyé ! Il passe maintenant en modération en attente d'être publié.
					{% if estimatedPublishDate is defined %}
						S'il est accepté, il sera normalement publié le <b>{{ estimatedPublishDate|date('d-m-Y') }}</b> (en fonction du nombre de gifs en attente de publication),
						<b>ou immédiatement s'il concerne un évènement d'actualité</b>.
					{% endif %}
					Merci !</div>
			{% endif %}
		{% endif %}

		<p>Pour proposer un gif, vous pouvez soit saisir son URL dans le champ ci-dessous, soit sélectionner un des gifs proposés.
			Avant de proposer un gif, veuillez vous assurer que celui-ci est conforme <a href="{{ path('rulesOfTheGame') }}">aux règles
				d'utilisation du service</a>.</p>

		<form method="post" enctype="multipart/form-data" accept-charset="UTF-8">
			<input type="text" id="captionInput" name="caption" placeholder="Titre" required />
			<ul id="warnings"></ul>

			<input type="text" id="gifUrl" name="gifUrl" placeholder="Url du gif" required />

			<div id="giphyGifs">
				<img src="{{ asset('bundles/ljds/img/poweredByGiphy.png') }}" class="poweredByGiphy" />
				<input id="giphySearch" type="text" placeholder="Rechercher..." class="search" />
				<ul id="giphyGifsList"></ul>
				<img id="ajaxLoading" src="{{ asset('bundles/ljds/img/ajax-loader.gif') }}" />
			</div>

			<div class="labelsContainer">
				Vous êtes
				<div class="labels">
					<input type="radio" name="label" id="label_etudiant" value="étudiant" checked="checked" />
					<label for="label_etudiant">étudiant</label>
					<input type="radio" name="label" id="label_staff" value="staff" />
					<label for="label_staff">staff SUPINFO</label>
				</div>
			</div>

			<input type="text" name="submittedBy" placeholder="Proposé par (votre nom)" value="{{ submittedBy }}" class="submittedBy" required />
			<input type="email" name="email" placeholder="Adresse e-mail (facultatif)" value="{{ email }}" class="email" />

			<p>En spécifiant votre adresse e-mail dans le champ ci-dessus, vous serez prévenue(e) lorsque votre gif sera
				accepté et publié.</p>

			<input type="hidden" id="source" name="source" class="source" />

			<input type="submit" value="Proposer" />
		</form>
	</div>
{% endblock %}

{% block customScripts %}
	<script>
		$(document).ready(function() {
			var searchField = $('#giphySearch');
			var giphyGifsList = $('#giphyGifsList');

			// Prevent unwanted form submit from enter keypress
			$(window).keydown(function(e){
				if(e.keyCode == 13) {
					e.preventDefault();

					if (searchField.is(':focus'))
						search(searchField.val());

					return false;
				}
			});

			$('#captionInput').keyup(function() {
				var text = $(this).val();

				var warningsList = [];
				// Rules
				if (text.substring(0, 'Quand'.length) != 'Quand')
					warningsList[warningsList.length] = 'Le titre doit commencer par "Quand"';

				// No point
				if (text.substring(text.length-1) == '.')
					warningsList[warningsList.length] = 'Le titre ne doit pas terminer par un point';

				if (text.length > 120)
					warningsList[warningsList.length] = 'Le titre ne doit pas être trop long';
				else if (text.length < 10)
					warningsList[warningsList.length] = 'Le titre est trop court';

				var warnings = $('#warnings');
				warnings.html('');
				for (var i=0; i<warningsList.length; i++)
					warnings.append('<li>' + warningsList[i] + '</li>');
			});

			// Get trending gifs
			$.ajax({
				url: '{{ path('giphyProxy') }}',
				method: 'POST',
				data: {
					action: 'getTrendingGifs'
				},
				success: function(jsonData) {
					if (jsonData.success) {
						populateGifsList(jsonData.gifs);
					}
				},
				error: function(data) {
					console.log(data);
				}
			});

			// Select one gif
			giphyGifsList.on('click', 'img', function(e) {
				var img = $(this);

				// Fill field attributes
				$('#source').val(img.data('source'));
				$('#gifUrl').val(img.attr('src'));

				// Visually set as selected
				giphyGifsList.find('img').removeClass('selected');
				giphyGifsList.find('img').addClass('notSelected');
				img.addClass('selected');

				// Load a better quality version
				if (img.attr('src') != img.data('src-hq'))
					img.attr('src', img.data('src-hq'));

				// Avoid onclick on giphyGifsList (that's for unselecting gif)
				e.stopPropagation();
			});

			// Unselect all gifs
			giphyGifsList.click(function() {
				$('#source').val('');
				$('#gifUrl').val('');
				giphyGifsList.find('img').removeClass('selected');
				giphyGifsList.find('img').removeClass('notSelected');
			});

			// Empty source on gifUrl keyup
			$('#gifUrl').keyup(function() {
				$('#source').val('');
			});
		});

		function search(keywords) {
			if (keywords.trim().length == 0)
				return;

			$('#ajaxLoading').show();

			$.ajax({
				url: '{{ path('giphyProxy') }}',
				method: 'POST',
				data: {
					action: 'search',
					keywords: keywords
				},
				success: function(jsonData) {
					$('#ajaxLoading').hide();

					if (jsonData.success) {
						populateGifsList(jsonData.gifs);
					}
				},
				error: function(data) {
					$('#ajaxLoading').hide();

					console.log(data);
				}
			});
		}

		function populateGifsList(gifs) {
			var giphyGifsList = $('#giphyGifsList');
			giphyGifsList.empty();
			$('#giphyGifs').show();
			$('#ajaxLoading').hide();

			var gifsLength = gifs.length;
			for (var i=0; i<gifsLength; i++) {
				var gif = gifs[i];

				var imageUrl = gif['image_downsampled'];
				var imageUrl_hq = gif['image'];
				var sourceUrl = gif['url'];

				var li = $('<li />');
				var img = $('<img />')
						.attr('src', imageUrl)
						.data('src-hq', imageUrl_hq)
						.data('source', sourceUrl);

				li.append(img);
				giphyGifsList.append(li);
			}
		}
	</script>
{% endblock %}
