{% extends 'LjdsBundle:Default:parent.html.twig' %}

{% block customStyle %}
	<link href="{{ asset('bundles/ljds/css/style_admin.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="fullWidth">
        <div class="adminTabs">
            <ul class="nav nav-pills">
                <li class="mSubmitted {% if type == 'submitted' %}active{% endif %}"><a href="{{ path('admin', {'type': 'submitted'}) }}">A modérer</a></li>
                <li class="mAccepted {% if type == 'accepted' %}active{% endif %}"><a href="{{ path('admin', {'type': 'accepted'}) }}">Acceptés</a></li>
                <li class="mRefused {% if type == 'refused' %}active{% endif %}"><a href="{{ path('admin', {'type': 'refused'}) }}">Refusés</a></li>
                <li class="mReported {% if type == 'reported' %}active{% endif %}"><a href="{{ path('admin', {'type': 'reported'}) }}">Signalés</a></li>
            </ul>
        </div>

        <ul class="gifsAdmin">
            {% for gif in gifs %}
                <li>
					{% if gif.fileType == 'gif' %}
                    	<img src="{{ gif.gifUrl }}" alt="{{ gif.caption }}" />
					{% else %}
						<video autoplay loop muted>
							<source src="{{ gif.gifUrl }}" type="video/{{ gif.fileType }}">
						</video>
					{% endif %}

                    <div class="gifValidation">
                        <div>
                            <span>
                                <textarea id="caption{{ gif.id }}" rows="2">{{ gif.caption }}</textarea>
                                <p>Par {{ gif.submittedBy }}</p>
                            </span>
                        </div>
                        <div>
                            <span>
								{% if type == 'accepted' %}
									<button type="button" data-state="published" data-gifid="{{ gif.id }}" class="btn btn-primary btnValidation">Publier</button>
									<button type="button" data-state="refused" data-gifid="{{ gif.id }}" class="btn btn-danger btnValidation">Rejeter</button>
								{% elseif type == 'refused' %}
									<button type="button" data-state="accepted" data-gifid="{{ gif.id }}" class="btn btn-success btnValidation">Valider</button>
                        			<button type="button" data-state="deleted" data-gifid="{{ gif.id }}" class="btn btn-warning btnValidation">Supprimer</button>
								{% elseif type == 'reported' %}
									<button type="button" data-state="ignored" data-gifid="{{ gif.id }}" class="btn btn-primary btnValidation">Ignorer</button>
                        			<button type="button" data-state="refused" data-gifid="{{ gif.id }}" class="btn btn-danger btnValidation">Supprimer</button>
								{% elseif type == 'submitted' %}
									<button type="button" data-state="accepted" data-gifid="{{ gif.id }}" class="btn btn-success btnValidation">Valider</button>
                        			<button type="button" data-state="refused" data-gifid="{{ gif.id }}" class="btn btn-danger btnValidation">Rejeter</button>
								{% endif %}
                            </span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block customScripts %}
    <script>
        $('.btnValidation').click(function() {
            var domElement = $(this);
            var gifId = domElement.attr('data-gifid');
            var state = domElement.attr('data-state');
            var caption = $('#caption'+gifId).val();
            var action;
            if (state == 'deleted'){
                action = 'delete_gif';
            } else if (state == 'ignored') {
                action = 'change_report_status';
            } else action = 'change_gif_status';

            $.ajax({
                url : '{{ path('adminApi') }}',
                type : 'POST',
                data : {
                    action : action,
                    gif_id : parseInt(gifId),
                    caption : caption,
                    new_gif_state : state,
                    api_key : '{{ admin_api_key }}'
                },
                success: function (data) {
                    console.log(data);
                    domElement.parent().parent().parent().parent().remove();
                },
                error:function(data){
                    console.log(data);
                }
            });
        });
    </script>
{% endblock %}
